<!--menu-header-->
<div *ngIf="!viewSize" class="menu-header">

    <!--menu-btn-->
    <button class="menu-btn"
            (click)="showHideMenu()"
            [class.active]="menuVisible">
        <span class="menu-btn__inner"></span>
    </button>
    <!--/menu-btn-->

</div>
<!--/menu-header-->

<!--menu-->
<div class="menu" *ngIf="viewSize">

    <!--menu__wrap-->
    <div class="menu__wrap">

        <!--menu__list-->
        <ul class="menu__list">

            <ng-template *ngIf="viewSize < 3" ngFor let-menuItem [ngForOf]="menuConfig[ 'menuItems' ]" let-i="index">

                <li [class.menu__sub-menu]="menuItem[ 'submenu' ]">

                    <a *ngIf="!menuItem[ 'submenu' ]" class="menu__item"
                       [routerLinkActiveOptions]="{ exact: true }"
                       routerLinkActive="active"
                       [routerLink]="menuItem[ 'path' ]">

                        <div class="menu__icon" [innerHTML]="menuItem[ 'icon' ]"></div>

                        {{ menuItem[ 'title' ] }}

                    </a>

                    <div *ngIf="menuItem[ 'submenu' ]" class="menu__item"
                         [class.active]="itemsActiveArray[ i ]"
                         (click)="clicked( i )">

                        <div class="menu__icon" [innerHTML]="menuItem[ 'icon' ]"></div>

                        {{ menuItem[ 'title' ] }}

                    </div>

                    <!--menu__sub-menu-inner-->
                    <div class="menu__sub-menu-inner"
                         *ngIf="menuItem[ 'submenu' ]"
                         [class.active]="menuArray[ i ]">

                        <div class="menu__sub-menu-group"
                             *ngFor="let menuItem of menuItem[ 'submenu' ]">

                            <span *ngIf="menuItem[ 'groupTitle' ]">

                                {{ menuItem[ 'groupTitle' ] }}

                            </span>

                            <ul>
                                <li *ngFor="let menuItem of menuItem[ 'items' ]">

                                    <a [routerLinkActiveOptions]="{ exact: true }"
                                       routerLinkActive="active"
                                       [routerLink]="menuItem[ 'path' ]">

                                        {{ menuItem[ 'title' ] }}

                                    </a>

                                </li>
                            </ul>

                        </div>
                    </div>
                    <!--/menu__sub-menu-inner-->

                </li>

            </ng-template>

            <ng-template *ngIf="viewSize >= 3" ngFor let-menuItem [ngForOf]="menuConfig[ 'menuItems' ]" let-i="index">

                <li [class.menu__sub-menu]="menuItem[ 'submenu' ]">

                    <a *ngIf="!menuItem[ 'submenu' ]" class="menu__item"
                       [routerLinkActiveOptions]="{ exact: true }"
                       routerLinkActive="active"
                       [routerLink]="menuItem[ 'path' ]">

                        <div class="menu__icon" [innerHTML]="menuItem[ 'icon' ]"></div>

                        {{ menuItem[ 'title' ] }}

                    </a>

                    <div *ngIf="menuItem[ 'submenu' ]" class="menu__item"
                         [class.active]="itemsActiveArray[ i ]"
                         (click)="clicked( i )">

                        <div class="menu__icon" [innerHTML]="menuItem[ 'icon' ]"></div>

                        {{ menuItem[ 'title' ] }}

                    </div>

                    <!--menu__sub-menu-inner-->
                    <div class="menu__sub-menu-inner"
                         *ngIf="menuItem[ 'submenu' ]"
                         [class.active]="menuArray[ i ]">

                        <div class="menu__sub-menu-group"
                             *ngFor="let menuItem of menuItem[ 'submenu' ]">

                            <span *ngIf="menuItem[ 'groupTitle' ]">

                                {{ menuItem[ 'groupTitle' ] }}

                            </span>

                            <ul>
                                <li *ngFor="let menuItem of menuItem[ 'items' ]">

                                    <a [routerLinkActiveOptions]="{ exact: true }"
                                       routerLinkActive="active"
                                       [routerLink]="menuItem[ 'path' ]">

                                        {{ menuItem[ 'title' ] }}

                                    </a>

                                </li>
                            </ul>

                        </div>
                    </div>
                    <!--/menu__sub-menu-inner-->

                </li>

            </ng-template>

        </ul>
        <!--/menu__list-->

    </div>
    <!--/menu__wrap-->

</div>
<!--/menu-->

<!--menu-->
<div class="menu" *ngIf="!viewSize">

    <!--menu__wrap-->
    <div class="menu__wrap">

        <!--menu__list-->
        <ul class="menu__list">

            <ng-template ngFor let-menuItem [ngForOf]="menuConfig[ 'menuItems' ]" let-i="index">

                <li [class.menu__sub-menu]="menuItem[ 'submenu' ]">

                    <a *ngIf="!menuItem[ 'submenu' ]" class="menu__item"
                       [routerLinkActiveOptions]="{ exact: true }"
                       routerLinkActive="active"
                       [routerLink]="menuItem[ 'path' ]">

                        <div class="menu__icon" [innerHTML]="menuItem[ 'icon' ]"></div>

                        {{ menuItem[ 'title' ] }}

                    </a>

                    <div *ngIf="menuItem[ 'submenu' ]" class="menu__item"
                         [class.active]="itemsActiveArray[ i ]"
                         (click)="clicked( i )">

                        <div class="menu__icon" [innerHTML]="menuItem[ 'icon' ]"></div>

                        {{ menuItem[ 'title' ] }}

                    </div>

                    <!--menu__sub-menu-inner-->
                    <div class="menu__sub-menu-inner"
                         *ngIf="menuItem[ 'submenu' ]"
                         [class.active]="menuArray[ i ]">

                        <div class="menu__sub-menu-group"
                             *ngFor="let menuItem of menuItem[ 'submenu' ]">

                            <span *ngIf="menuItem[ 'groupTitle' ]">

                                {{ menuItem[ 'groupTitle' ] }}

                            </span>

                            <ul>
                                <li *ngFor="let menuItem of menuItem[ 'items' ]">

                                    <a [routerLinkActiveOptions]="{ exact: true }"
                                       routerLinkActive="active"
                                       [routerLink]="menuItem[ 'path' ]">

                                        {{ menuItem[ 'title' ] }}

                                    </a>

                                </li>

                            </ul>

                        </div>

                    </div>
                    <!--/menu__sub-menu-inner-->

                </li>

            </ng-template>

        </ul>
        <!--/menu__list-->

    </div>
    <!--/menu__wrap-->

</div>
<!--/menu-->
