<!--login-->
<div class="login">

    <!--login__form-->
    <form class="login__form access__inner"
            novalidate
            [@visibilityChanged]="!sentFlag"
            [formGroup]="registerForm"
            [class.failure]="failureFlag"
            (submit)="submit( registerForm )"
            (change)="setDefaultState()">

        <!--access__title-->
        <h1 class="access__title">Log In</h1>
        <!--/access__title-->

        <fieldset>

            <label for="email">Email</label>

            <input id="email"  type="email" name="email" formControlName="login" placeholder="Email">

            <!--login__form-invalid-->
            <div class="login__form-invalid">

                <div>Email is not valid</div>

            </div>
            <!--/login__form-invalid-->

        </fieldset>

        <fieldset>

            <label for="password">Password</label>

            <input id="password" type="password" formControlName="password" placeholder="Password">

        </fieldset>

        <!--login__form-failure-->
        <div class="login__form-failure">

            <div>{{ failureText }}</div>

        </div>
        <!--/login__form-failure-->

        <!--access__btns-->
        <div class="access__btns">

            <!--btn-->
            <button type="submit" class="btn"
                    [disabled]="!registerForm.valid"
                    [class.btn_disabled]="!registerForm.valid">

                <span class="btn__inner">Log In</span>

            </button>
            <!--/btn-->

        </div>
        <!--/access__btns-->

        <div class="spinner" [@visibilityChanged]="spinnerVisible" *ngIf="spinnerVisible"></div>

    </form>
    <!--/login__form-->

</div>
<!--/login-->









