<!--access-->
<div class="access">

    <div [ngSwitch]="errorType">

        <div *ngSwitchCase="'server-maintenance'">

            <p>server-maintenance</p>

        </div>

        <div *ngSwitchCase="'session-expired'">

            <p>server-maintenance</p>

        </div>

        <div *ngSwitchCase="'server-error'">

            <p>server-error</p>

        </div>

        <div *ngSwitchCase="'access-denied'">

            <p>access-denied</p>

        </div>

        <div *ngSwitchCase="'404'">

            <p>404</p>

        </div>

    </div>

</div>
<!--/access-->

