$title-color: #212c3d;

.access {
  min-height: 100vh;

  &__inner {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;

    &_message {
      @include absoluteCenterX();
      top: 0;
      text-align: center;
      padding-top: 48px;
    }
  }
  &__title {
    font-size: 32px;
    text-align: center;
    font-weight: $light;
    color: $title-color;
  }
  &__btns {
    text-align: center;
    padding-top: 10px;

    * {
      display: inline-block;
    }
    .btn {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $tablet-portrait) {

  .access {
    padding: 60px 15px 0;

    &__head {
      display: block;
      height: auto;
      margin-bottom: 0;
      background: transparent;
    }
    &__inner {
      max-width: 440px;
      padding: 30px 45px 40px;
      border-radius: 4px;
      background-color: $main-white-color;
      box-shadow: 0 3px 10px 0 rgba(24, 40, 65, 0.15);

      &_message {
        padding-top: 30px;
      }
    }
    &__title {
      margin-bottom: 12px;
      font-size: 40px;
    }
    &__btns {
      text-align: left;

      * {
        vertical-align: middle;
      }
      .btn {
        width: auto;
        margin-right: 37px;
        margin-bottom: 0;
      }
    }
  }
}
@media (min-width: $tablet-landscape) {



}

