.aside {
  position: fixed;
  z-index: 4;
  display: inline-block;
  width: 100%;
  height: 60px;
  background-color: $main-bg-color;
  padding: 0;

  &_hide {
    display: none;
  }

  &.active {

    &:after {
      opacity: 1;
      @include transition( opacity, $animation-time, .3 );
    }
  }
}

@media (min-width: $tablet-portrait) {

  .aside {
    overflow: hidden;
    position: relative;
    z-index: 3;
    display: inline-block;
    width: 260px;
    height: 100%;
    background-color: $main-bg-color;
    padding: 30px 0 81px;
    text-align: center;

    &_hide {
      display: none;
    }
  }

}
@media (min-width: $tablet-landscape) {

  .aside {
    width: 300px;
    
    &_hide {
      display: none;
    }
  }

}
@media (min-width: $desktop) {

}

