$main-white-color: #fff;
$main-black-color: #000;
$main-blue-color: #1E95F3;
$main-blue-color-2: #7bb9ff;
$main-red-color-1: #f46771;
$main-red-color-2: #e83b47;
$main-green-color-1: #8cc574;
$main-bg-color: #F8F8F8;

/*---------- popup ----------*/
$popup-overlay-bg-color: rgba(5, 6, 14, 0.4);
$popup-bg-color: #fff;
/*---------- /popup ----------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- input ----------*/
$disabled-background: #f4f6f9;
$disabled-color: #c4c7d2;
/*---------- input----------*/

/*---------- select ----------*/
$select-color-triangle: #212c3d;
/*---------- select ----------*/
