$placeholder-color: #e4e8ec;
$placeholder-hover-color: #212c3d;
$field-hover-color: #212c3d;
$field-color: #e5e8ed;
$field-border-color: #e8ebf1;

.main-field {
  position: relative;
  margin-bottom: 20px;

  input,
  textarea {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    background-color: $main-white-color;
    border: solid 2px $field-border-color;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 16px;
    line-height: 1.25;
    color: $field-hover-color;
    @include main-font();
    font-weight: $bold;
    @include transition( all, $animation-time, 0 );

    &:disabled {
      background-color: $disabled-background;
      border-color: transparent;
      color: $disabled-color;
    }

    &::-webkit-input-placeholder {
      color: $placeholder-color;
      @include main-font();
      font-weight: $bold;
      @include transition( color, $animation-time, 0)
    }
    &::-moz-placeholder          {
      color: $placeholder-color;
      @include main-font();
      font-weight: $bold;
      @include transition( color, $animation-time, 0)
    }
    &:-ms-input-placeholder      {
      color: $placeholder-color;
      @include main-font();
      font-weight: $bold;
      @include transition( color, $animation-time, 0)
    }
    &:hover:enabled {
      color: $field-hover-color;
    }
    &:focus:enabled {
      box-shadow: inset 0 3px 4px 0 rgba(78, 158, 248, 0.2);
      color: $field-hover-color;
      border-color: $main-blue-color;

      &::-webkit-input-placeholder {color: transparent;}
      &::-moz-placeholder          {color: transparent;}
      &:-moz-placeholder           {color: transparent;}
      &:-ms-input-placeholder      {color: transparent;}

      &:hover:enabled {
        &::-webkit-input-placeholder {color: transparent;}
        &::-moz-placeholder          {color: transparent;}
        &:-moz-placeholder           {color: transparent;}
        &:-ms-input-placeholder      {color: transparent;}
      }
    }

    &.ng-touched.ng-invalid {
      border-color: $main-red-color-1;
      box-shadow: 0 3px 10px 0 rgba(24, 40, 65, 0.15);

      & + .main-field__invalid {
        opacity: 1;
        visibility: visible;
        margin-top: 1px;
        padding-top: 5px;
        height: 49px;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: translateX(0);
        transform: translateX(0);

        div {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translateY(0);
          transform: translateY(0);
          -webkit-transition-delay: .15s;
          transition-delay: .15s;
        }
      }
    }
  }
  textarea {
    height: 120px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  label {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.25;
    color: $field-hover-color;
  }
  &__title {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.25;
    color: $field-hover-color;
  }
  &__invalid {
    position: relative;
    width: 100%;
    height: 0;
    margin-top: 0;
    padding-top: 0;
    -webkit-transform: translate( 0, 0);
    transform: translate( 0, 0);
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    @include transition(height, .15, .15);

    div {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 7px 10px;
      border-radius: 5px;
      background-color: $main-red-color-1;
      font-size: 14px;
      line-height: 1.43;
      font-weight: $bold;
      color: $main-white-color;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      @include transition( all, .15, 0 );

      &:before {
        position: absolute;
        top: -5px;
        left: auto;
        border-style: solid;
        border-width: 0 4px 5px 4px;
        border-color: transparent transparent $main-red-color-1 transparent;
        content: '';
      }
    }
  }
  &__inner {
    position: relative;
  }
  &__required {

    &:after {
      position: relative;
      display: inline-block;
      font-size: 16px;
      line-height: 1.25;
      color: #f46771;
      content: '*';
    }
  }
  &__response {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 24px;
    margin: 7px 0 0;

    > div {
      display: flex;
      align-items: center;
    }

      &-status {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 1.25;
      color: #9ba1b9;

        > svg {
          margin-right: 7px;
        }

        > div {
          margin-right: 11px;
        }

        .btn_3 {
          height: 20px;
          min-width: 0;
          margin-right: 0;
          letter-spacing: 0;
        }

    }

    .spinner {
      width: 24px;
      position: relative;

      &:before {
        width: 16px;
        height: 16px;
      }
    }

  }

}

@media (min-width: $desktop) {

  .main-field {

    input,
    textarea {

      &:hover:enabled {
        box-shadow: inset 0 3px 4px 0 rgba(78, 158, 248, 0.2);
        border-color: $main-blue-color;

        &::-webkit-input-placeholder {color: $placeholder-hover-color;}
        &::-moz-placeholder          {color: $placeholder-hover-color;}
        &:-moz-placeholder           {color: $placeholder-hover-color;}
        &:-ms-input-placeholder      {color: $placeholder-hover-color;}
      }

      &.ng-touched.ng-invalid {

        & + .main-field__invalid {
          -webkit-transform: translate(110%, -50%);
          transform: translate(110%, -50%);
        }
      }
    }
    &__invalid {
      position: absolute;
      top: 50%;
      right: 0;
      left: auto;
      width: auto;
      -webkit-transform: translate(110%, -50%);
      transform: translate(110%, -50%);
      transition: none;

      div {
        position: relative;
        -webkit-transform: translateX(10px);
        transform: translateX(10px);

        &:before {
          top: 12px;
          left: -4px;
          border-width: 4px 5px 4px 0;
          border-color: transparent $main-red-color-1 transparent transparent;
        }
      }
    }
  }
}

