.main {

	&__wrap {
		overflow: hidden;
		position: relative;
		min-height: 100vh;
		padding: 74px 15px 15px;
	}
	&__content {
		position: relative;
		background: $main-white-color;
	}
	&__title {
		margin-bottom: 7px;
		font-size: 32px;
		line-height: 1.56;
		font-weight: $light;
	}
	&__btns {
		padding-top: 10px;
	}

}

@media (min-width: $tablet-portrait) {

	.main {
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		height: 100vh;

		&__wrap {
			overflow: hidden;
			position: absolute;
			top: 15px;
			right: 0;
			bottom: 15px;
			left: 0;
			min-height: 0;
			padding: 0 15px;
		}
		&__scroll {
			overflow-y: scroll;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			min-height: 0;
			padding: 0 15px;
		}
		&__content {
			width: calc(100% - 260px);
		}
		&__title {
			margin-bottom: 30px;
			font-size: 40px;
			line-height: 1.25;
		}
		&__btns {
			padding-top: 10px;

			* {
				display: inline-block;
				vertical-align: middle;
			}
			.btn {
				margin-right: 37px;
			}
		}
	}

}

@media (min-width: $tablet-landscape) {

	.main {

		&__content {
			width: calc(100% - 300px);
		}
	}
}

