.menu {
	overflow-y: scroll;
	position: fixed !important;
	z-index: 1;
	width: 260px;
	height: calc(100vh - 60px);
	padding-bottom: 30px;
	background: $main-bg-color;

	&__wrap {
		min-height: calc(100vh - 60px - 81px);
		margin-bottom: 35px;
	}
	&__list {
		overflow: hidden;
		display: block;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 23px;
	}
	&__item {
		position: relative;
		display: block;
		padding-left: 80px;
		color: #9ba1b9;
		overflow: hidden;
		font-size: 18px;
		line-height: 2.87;
		cursor: pointer;
		user-select: none;
		@include transition(all, $animation-time, 0);

		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 4px;
			height: 100%;
			background: $main-blue-color;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			@include transition(transform, $animation-time, 0);
			content: '';
		}
		&:hover,
		&.active {
			color: $main-blue-color;
			background-color: rgba(78, 158, 248, 0.05);

			&:before {
				-webkit-transform: translateX(0);
				transform: translateX(0);
			}
			.menu__icon svg {

				path {
					fill: $main-blue-color;
				}
			}
		}
		&_profile {
			line-height: 2.77;
		}
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 80px;
		pointer-events: none;

		svg {
			@include absoluteCenter();
			margin-left: 5px;

			path {
				@include transition(fill, $animation-time, 0);
			}
		}
	}
	&__sub-menu-inner {
		overflow: hidden;
		max-height: 0;
		transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

		&.active {
			max-height: 1000px;
			transition-duration: 200ms;
			-webkit-transition-duration: 200ms;
			transition-timing-function: ease-in;
			-webkit-transition-timing-function: ease-in;
		}
	}
	&__sub-menu-group {
		margin-bottom: 11px;

		&:first-child {
			padding-top: 8px;
		}

		span {
			display: block;
			padding-left: 81px;
			font-size: 14px;
			line-height: 2.14;
			color: #cbcfda;
		}
		li {
			padding-left: 81px;

			a {
				position: relative;
				display: inline-block;
				font-size: 16px;
				line-height: 1.88;
				color: #9ba1b9;
				@include transition(color, $animation-time, 0);

				&.active {
					color: $main-blue-color;

					&:hover {
						color: $main-blue-color;
					}
				}
				&:hover {
					color: $main-blue-color-2;
				}
			}
		}
	}
}

.menu-btn {
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 71px;
	height: 60px;
	background: $main-bg-color;
	border: none;
	border-right: solid 2px #e8ebf1;
	margin-right: 17px;

	&__inner {
		@include absoluteCenter();
		width: 20px;
		height: 4px;
		border-radius: 1.5px;
		background-color: #cbcfda;
		pointer-events: none;
		@include transition(background, $animation-time, .2);

		&:before,
		&:after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 4px;
			border-radius: 1.5px;
			background-color: #cbcfda;
			-webkit-transition-duration: $animation-time+s;
			transition-duration: $animation-time+s;
			-webkit-transition-delay: $animation-time+s;
			transition-delay: $animation-time+s;
			content: '';
		}

		&:before {
			top: -8px;
			-webkit-transition-property: top, -webkit-transform;
			transition-property: top, transform;
		}
		&:after {
			bottom: -8px;
			-webkit-transition-property: bottom, -webkit-transform;
			transition-property: bottom, transform;
		}
	}
	&:before {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
		content: '';
		transition-property: opacity, visibility;
		transition-delay: .2s;
		transition-duration: .3s;
		transition-timing-function: linear;
	}
	&.active {

		.menu-btn__inner {
			background: transparent;

			&:before,
			&:after {
				-webkit-transition-delay: $animation-time+s;
				transition-delay: $animation-time+s;
			}
			&:before {
				top: 0;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
	&.fade {

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.menu-header {
	position: relative;
	width: 260px;
	height: 60px;
	background: $main-bg-color;
	margin-top: -60px;

	.menu-btn {

		&:before {
			display: none;
		}
	}
	&:after {
		position: absolute;
		z-index: 2;
		bottom: -4px;
		left: 0;
		width: 260px;
		height: 4px;
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(to bottom, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 100%);
		content: '';
	}
}

@media (min-width: $tablet-portrait) {

	.menu {
		overflow-y: hidden;
		position: relative !important;
		width: 100%;
		height: calc(100vh - 88px);
		text-align: left;

		&__wrap {
			min-height: calc(100vh - 88px - 81px);
		}
		&__item {

			&:hover {
				color: $main-blue-color;
				background-color: rgba(78, 158, 248, 0.05);

				&:before {
					-webkit-transform: translateX(0);
					transform: translateX(0);
				}
				.menu__icon svg {

					path {
						fill: $main-blue-color;
					}
				}
			}
		}
		&__sub-menu-group {

			li {
				padding-left: 81px;

				a {

					&.active {
						color: $main-blue-color;

						&:hover {
							color: $main-blue-color;
						}
					}
					&:hover {
						color: $main-blue-color-2;
					}
				}
			}
		}
	}
}
