@import "main-app";

.popup-layout {
	position: relative;
	min-height: 200px;


	&__json {
		padding: 30px;
	}

	&__xml {
		padding: 30px;
		font-family: Lato;
		font-size: 16px;
		line-height: 1.25;
		text-align: left;
		color: #9ba1b9;
	}

	&__text {
		margin-bottom: 20px;
	}

	&__title {
		padding: 12px 48px 12px;
		box-shadow: 0 2px 4px 0 rgba(24, 40, 65, 0.15);
		font-size: 18px;
		font-weight: 400;
		line-height: 36px;
		color: #212c3d;
	}

	&__title-btn {
		position: absolute;
		top: 28px;
		right: 93px;
		font-family: Lato;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.25;
		text-align: right;
		color: #4e9ff8;
		background: none;
		border: none;
		padding: 0;
	}

	&__sub-title {
		font-family: Lato;
		font-size: 20px;
		font-weight: 400;
		color: #9ba1b9;
		padding-top: 5px;

		span {
			font-weight: bold;
			color: #212c3d;

			span {
				font-weight: 400;
				color: #9ba1b9;
			}

		}
	}

	&__content {
		padding: 0;
		//padding: 18px 21px 30px;
	}

	header {
		position: relative;
		z-index: 1;
	}

}

@media (min-width: $tablet-portrait) {
	.popup-layout {
		overflow: hidden;

		&__title {
			padding: 20px 48px 23px 35px;
			border-bottom: solid 2px #e8ebf1;
			box-shadow: none;
			font-weight: 300;
			font-size: 30px;
			line-height: 36px;
		}

		&__content {
			padding: 0;
		}

		&__wrap {
			padding: 30px;
		}

	}
}