
//  viewport variables
$phone-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;

//  animation
$animation-time: .15;

//  font weight
$light: 300;
$regular: 400;
$bold: 700;
