<div class="main">

    <!--aside-->
    <div class="aside" [class.active]="menuVisible">

        <!--menu-btn-->
        <button *ngIf="!viewSize"
                class="menu-btn"
                [class.fade]="menuVisible"
                (click)="showHideMenu()">

            <span class="menu-btn__inner"></span>

        </button>
        <!--/menu-btn-->

        <menu *ngIf="menuVisible || viewSize"></menu>

        <!--btn-->
        <a class="btn"
           [routerLink]="'/auth'">
            Log Out
        </a>
        <!--/btn-->

    </div>
    <!--/aside-->

    <!--main__content-->
    <div  class="main__content">

        <!--main__wrap-->
        <div class="main__wrap">

            <router-outlet></router-outlet>

            <div class="spinner spinner_main" *ngIf="isVisible"></div>

        </div>
        <!--/main__wrap-->

    </div>
    <!--/main__content-->

</div>
