<router-outlet></router-outlet>

<!--preloader-->
<div *ngIf="isVisiblePreloader" class="preloader">

    <!--preloader__wrap-->
    <div class="preloader__wrap">

        <svg width="50px" height="50px" viewBox="0 0 24 24">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="settings" fill-rule="nonzero" fill="#ffffff">
                    <path d="M22,13 C21.9749862,12.739357 22,12.3718808 22,12 C22,11.6269 21.9749862,11.2594239 22,11 L19,10 C19.0449875,9.37827156 18.8287124,8.8570642 19,8 L20,6 C19.3387032,5.17978567 18.8162055,4.65731983 18,4 L16,5 C15.1374442,5.168538 14.6149465,4.95353456 14,5 L13,2 C12.7400117,2.02375381 12.3725131,2 12,2 C11.6275262,2 11.2600276,2.02375381 11,2 L10,5 C9.37876068,4.95361321 8.85626299,5.16857733 8,5 L6,4 C5.18001884,4.65735916 4.65748182,5.17982499 4,6 L5,8 C5.16877049,8.85584505 4.95375394,9.37831088 5,10 L2,11 C2.02375526,11.2594239 2,11.6269 2,12 C2,12.3718415 2.02375526,12.7393177 2,13 L5,14 C4.9550125,14.62047 5.16873116,15.1404188 5,16 L4,18 C4.65874038,18.8189559 5.18123807,19.3426802 6,20 L8,19 C8.85748222,18.8302035 9.3799799,19.045207 10,19 L11,22 C11.2599883,21.9749877 11.6274869,22 12,22 C12.3725525,22 12.7400117,21.9749877 13,22 L14,19 C14.6212787,19.0439092 15.1412592,18.8302035 16,19 L18,20 C18.8200205,19.3401632 19.3437767,18.8176974 20,18 L19,16 C18.8312688,15.1379019 19.0462854,14.615436 19,14 L22,13 Z M12.0000098,16.999705 C9.23874624,16.9991151 7.00000983,14.7605152 7.00000983,11.999705 C7.00000983,9.23830498 9.23874624,6.99970504 12.0000098,6.99970504 C14.7612931,6.99970504 17.0000295,9.23830498 17.0000098,11.999705 C17.0000295,14.7605152 14.7612538,16.9991151 12.0000098,16.999705 Z M12,14 C13.1045695,14 14,13.1045695 14,12 C14,10.8954305 13.1045695,10 12,10 C10.8954305,10 10,10.8954305 10,12 C10,13.1045695 10.8954305,14 12,14 Z"
                          id="Settings"></path>
                </g>
            </g>
        </svg>

    </div>
    <!--/preloader__wrap-->

</div>
<!--/preloader-->

