@import "app/scss/fonts/lato";
@import "app/scss/animations";
@import "app/scss/reset";
@import "app/scss/main-app";
@import "app/scss/main";
@import "app/scss/preloader";
@import "app/scss/btn";
@import "app/scss/menu";
@import "app/scss/aside";
@import "app/scss/spinner";

body {
	height: auto;
	min-height: 100%;
	margin: 0;
	background: $main-white-color;
	@include main-font();
}

@media (min-width: $tablet-portrait) {

	body {
		background: $main-bg-color;
	}

}
